<app-navbar></app-navbar>
<div class="bg-primary-200 h-full dark:bg-gray-900">
  <div class="py-4 px-4 mx-auto max-w-screen-xl lg:py-8 lg:px-6">
    <div *ngIf="!!collections">
      <div>
        <button
          [routerLink]="['/new-collection', 'new']"
          class="text-white mb-10 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-8 lg:px-6 py-4 lg:py-3 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
        >
          Criar nova coleção
        </button>
      </div>
      <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-3">
        <div *ngFor="let item of collections">
          <div
            class="bg-gray-50 flex flex-col rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700"
          >
            <div role="button" (click)="goToDetails(item)">
              <div
                class="h-16 bg-primary-950 text-white w-full rounded-t flex items-center justify-center"
              >
                {{item.title}}
              </div>
              <div class="p-4 text-justify">
                <span
                  > {{item.description}}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!collections" class="flex items-center flex-col">
      <img class="w-64 h-64 mr-4" src="../assets/icons/empty.png" alt="logo" />
      <div class="mt-4 text-4xl text-primary-600">Comece sua coleção</div>
      <button
        [routerLink]="['/new-collection', 'new']"
        class="text-white mt-4 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-8 lg:px-6 py-4 lg:py-3 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
      >
        Criar nova coleção
      </button>
    </div>
  </div>
</div>
