<section class="bg-primary-200 dark:bg-gray-900">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <div
      class="flex items-center text-[62px] font-bold text-gray-900 dark:text-white"
    >
      <img
        class="w-32 h-32 mr-4"
        src="../assets/icons/bibliotech.png"
        alt="logo"
      />
      Bibliotech
    </div>

    <div class="flex mt-12">
      <button
        [routerLink]="'login'"
        class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-8 lg:px-8 py-4 lg:py-4 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
      >
        Entrar
      </button>
      <button
        [routerLink]="['/register', 'new']"
        class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-8 lg:px-8 py-4 lg:py-4 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
      >
        Criar conta
      </button>
    </div>
  </div>
</section>
