<app-navbar></app-navbar>
<div class="bg-primary-200 h-screen dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div *ngIf="items.length">
      <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-3">
        <div *ngFor="let item of items">
          <div
            role="button"
            class="bg-gray-50 h-[180px] rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700"
          >
            <div class="min-w-[120px]">
              <img
                class="object-cover h-full w-full rounded-lg sm:rounded-none sm:rounded-l-lg"
                src="https://marketplace.canva.com/EAFaQMYuZbo/1/0/1003w/canva-brown-rusty-mystery-novel-book-cover-hG1QhA7BiBU.jpg"
                alt="Bonnie Avatar"
              />
            </div>
            <div class="px-4 py-2 flex flex-col">
              <span class="text-xl font-bold">Soul</span>
              <div>
                <span class="text-gray-500 dark:text-gray-400">By</span>
                <span class="text-gray-500 dark:text-gray-400">
                  Olivia Wilson</span
                >
              </div>
              <span class="line-clamp-3 font-light text-sm mt-2">
                A vida que Kim e Krickitt Carpenter conheciam mudou
                completamente no dia 24 de novembro de 1993, dois meses após o
                seu casamento, quando a traseira do seu carro foi atingida por
                uma caminhonete que transitava em alta velocidade. Um ferimento
                sério na cabeça deixou Krickitt em coma por várias semanas.
                Quando finalmente despertou, parte da sua memória estava
                comprometida e ela não conseguia se lembrar de seu marido. Ela
                não fazia a menor ideia de quem ele era. Essencialmente, a
                "Krickitt" com quem Kim havia se casado morreu no acidente, e
                naquele momento ele precisava reconquistar a mulher que amava.
              </span>
              <span
                class="mt-1 uppercase text-sm font-bold w-fit py-1 px-2 text-primary-600 bg-primary-300 rounded border-primary-600 border-[1px]"
                >Reading</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!items.length" class="flex items-center flex-col">
      <img class="w-64 h-64 mr-4" src="../assets/icons/empty.png" alt="logo" />
      <div class="mt-4 text-4xl text-primary-600">Comece sua coleção</div>
      <button
        class="text-white mt-4 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-8 lg:px-6 py-4 lg:py-3 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
      >
        Criar nova coleção
      </button>
    </div>
  </div>
</div>
